<% let i = 0; %>
<% let row = 0; %>
<% let col = 0; %>
<div class="mt-3 d-flex flex-wrap justify-content-center" id="game-board">
        <% while (i < (tileNxN * tileNxN)) { %>
            <%- include('partials/gameTile', { row:row, col:col,i:i }) %>
            <% i++; %>
            <% if (i % tileNxN === 0) { row++ } %>
            <% console.log(i % tileNxN) %>
            <% col = i % tileNxN %>
          <% } %>
</div>
<script src="../assets/script.js"></script>